.stars-page {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stars--title-section {
}

.stars--title {
}

.highlight-stars {
  color: #ffa800;
}

.stars--filter-section {
  margin: 8px auto;
}

.stars-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

.country-section,
.category-section {
  position: relative;
  font-family: Arial;
  padding: 15px;
}

option {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.stars-form-submit {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.stars--stars-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.stars--stars-container a {
  text-decoration: none;
}