.stars-page {
  max-width: 80vw;
  min-width: 400px;
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px red solid; */
}

.highlight-stars {
  color: #ffa800;
}
.stars-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

.stars--stars-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.stars--stars-container a {
  text-decoration: none;
}

@media only screen and (max-width: 918px) {

  .stars--stars-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .stars-page {
    max-width: 90vw;
  }
  .stars--stars-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/*-------------------------------*/
.stars--filter-section{
  /* border: 2px blue solid; */
  width:100%;
}
.stars--filter-section .filter-stars {
  margin: 20px auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px red solid; */
  padding: 6px;
}

.select-country,
.select-category,
.btn-submit {
  border-radius: 6px;
  vertical-align: middle;
  margin: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.select-category,
.select-country {
  text-transform: capitalize;
  padding: 4px 10px;
  width: 250px;
}
.btn-submit{
  max-width: 120px;
}

.select-country:active,
.select-category:active {
  border: 2px var(--blue) solid;
}

.btn-submit {
  flex-grow: 1;
  background-color: var(--blue);
  color: var(--bg);
  font-weight: 600;
  padding: 11px;
}

.btn-submit:hover {
  background-color: var(--bg);
  color: var(--blue);
  border: 2px var(--blue) solid;
}
@media only screen and (max-width: 400px) {
  .select-country{
      width:100px;
    }
  .stars--filter-section form .filter-stars {
    width:100%;
  justify-content: center;
  }

  .btn-submit {
    flex-grow: unset;
    padding: 8px 20px;
  }
}