.sign-in-or-sign-up {
  min-width: 340px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-loading{
  color: #2465b5;
  font-size: 18px;
  font-weight: 700;
}

.entry-form {
  width: 80%;
}

/* stemers description section */
.stemers-description-section {
  max-width: 65%;
  margin: 2px auto;
  font-weight: 700;
  padding: 10px;
  line-height: 2;
}

.stem-highlight {
  color: #ffa800;
}

/* form main section */
.form-main {
  /* text-align: start; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in--label {
  display: block;
  text-align: start;
}

.user-input {
  width: 258px;
  height: 36px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  color: white;
  border-radius: 4px;
  width: 258px;
  height: 36px;
  margin: 10px auto;
  font-size: 16px;
}

.btn[type="submit"],
.continue-button {
  cursor: pointer;
}

.btn[type="submit"]:hover,
.continue-button:hover {
  transform: scale(1.05);
}

.validation-error{
  color: #e60000;
  margin: 2px auto;
}

/* sign in section */
.sign-in-section {
}

.remember-me-section, .forgot-password-section{
  text-align: start;
  padding: 5px 0;
}

.sign-in--lock{
  font-size: 18px;
  padding-right: 3px;
}

.switch-to-Sign-up-section {
}

.toggle-sign-up,
.toggle-sign-in {
  margin-left: 4px;
  text-decoration: underline;
  color: blue;
}

.toggle-sign-up:hover,
.toggle-sign-in:hover {
  text-transform: uppercase;
}

.switch-section{

}

.to-another{
  margin: 3px;
}

.or{
  margin: 3px;
}

/* sign up section */
.sign-up-section {
}

.sign-in--button,
.sign-up--button {
  background-color: #e60000;
  border: 1px solid #e60000;
}

.switch-to-Sign-in-section {
}

/* continue section */
.continue-section {
}

.continue-with-github {
}

.continue-button {
}

.github-continue-button {
  color: white;
  background-color: #000000;
  border: 1px solid #000000;
}

.linkedin-continue-button {
  background-color: #2465b5;
  border: 1px solid #2465b5;
}
