.star {
  border: 3px solid var(--blue);
  margin: 20px 6px;
  padding: 0;
  border-radius: 20px;
  position: relative;
}
.star a {
  text-decoration: none;
}
.star-photo {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
}

.star-badge {
  position: absolute;
  max-width: 25px;
  border-radius: 20px;
  border: 3px var(--bg) solid;
  top: 5px;
  right: 5px;
}

.star-info {
  transform: translateY(-20px);
  background-color: #f5f5f5;
}

.star-info h2 {
  display: inline;
}

.star-name,
.star-category,
.star-job {
  margin: 5px;
  padding: 5px;
}

.star-job {
  color: var(--pink);
  font-style: italic;
}

.star-name {
  color: var(--blue);
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  .star {
    width: 80%;
  }
  .star-photo {
    width: 100%;
  }
}
