.profile {
  /* border: 2px red solid; */
  width: 100%;
  margin: 80px 0;
  box-sizing: border-box;
}

.profile-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px rgb(166, 166, 241) solid;
}
.profile-left,
.profile-right {
  padding: 8px;
  margin: 6px;
  width: 40%;
}
.displaynone {
}
.profile-left {
  background-color: rgb(209, 218, 243);
  text-align: center;
  padding: 25px;
}
.profile-left .social-media {
  margin: 30px 2px;
  text-align: center;
}
.profile-left .votes .vote-count{
 font-weight: 600;
 font-size: 1.3rem;
}
.profile-left .social-media ul li {
  list-style-type: none;
  display: inline;
  padding: 8px;
  font-size: 1.3rem;
}
.photo {
  position: relative;
  align-items: center;
}
.profile-left .details-container .my-details lable{
  color: var(--blue);
  font-size: 1.1rem;
}
.star-name-profile{
color: var(--blue);
font-size: 1.2rem;
font-weight: 600;
font-style: italic;
}
.star-job-profile {

}
.profile-left .photo img {
  display: block;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 2px;
  border: 3px var(--blue) solid;
  margin-left: auto;
  margin-right: auto;
}
.photo input[type="file"] {
  display: block;
  padding: 4px;
  margin: 4px;
  margin: 0;
}
.photo p {
  display: block;
  position: absolute;
  top: 120px;
  right: 40px;
  font-size: 1.4rem;
}
.change-photo input[type="submit"] {
  padding: 4px 8px;
  margin: 2px 8px;
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--bg);
  font-weight: 600;
  border: 1px solid var(--blue);
}
.profile .cancel-edit-profile a{
  display: block;
  text-align: center;
  margin: 6px;
  color:brown
}
.profile .edit-profile a {
  display: block;
  text-align: center;
  margin: 6px;
  color: rgb(15, 100, 12)
}
.change-photo input[type="submit"]:hover {
  color: var(--bg);
  background-color: var(--blue);
}
.profile-right h3,.votes h3 {
  color: var(--blue);
  text-transform: capitalize;
  margin: 10px;
}
.profile-right .about-me{
  text-align: justify ;
}
.profile-right .my-details {
  margin: 10px;
}
.profile-right .my-details label{
  color: var(--blue);
  margin: 4px;
}
.profile-right p {
  display: block;
  position: absolute;
  margin: 4px;
  top: 10px;
  right: 40px;
  font-size: 1.2rem;
}
.profile-right input,
.profile-right textarea {
  display: block;
  padding: 4px;
  border-radius: 6px;
}
.nominate {
  width: 100%;
  text-align: center;
  margin: 8px;
}
.nominate button {
  padding: 10px 20px;
  margin: 2px 8px;
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--bg);
  font-weight: 600;
  border: 2px solid var(--blue);
}
.nominate button:hover {
  color: var(--bg);
  background-color: var(--blue);
}

@media only screen and (max-width: 600px) {
  .profile-container {
    width: 98%;
  }
  .profile-left,
  .profile-right {
    width: 90%;
    margin: 0 auto;
  }
}
