.footer {
    align-items: center;
    background-color: #236192;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    min-height: 50px;
    padding: 5px 20px;
    width: 100%;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin: 0 auto;
}